// @import "/styles/variable";
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 2rem 50px;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid rgba(84, 13, 69, 0.1);
  position: fixed;
  z-index: 1111;
  background: #fff;

  .logo {
    width: 42px;
    object-fit: cover;
    object-position: center;
  }
  @media (max-width: 1486px) {
    padding: 2rem 50px;
  }

  @media (max-width: 786px) {
    padding: 1rem;
    height: 74px;

    .logo {
      width: 36px;
    }
  }

  .nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 380px;

    li {
      a {
        font-weight: 500;
        color: #1a1a1a;
      }
      #active-link,
      a:hover {
        color: #520e44;
      }
    }

    .sm {
      display: flex;
      gap: 16px;
    }

    @media (max-width: 1068px) {
      max-width: 300px;
    }
    @media (max-width: 786px) {
      display: none;
    }
  }

  .nav-mobile {
    display: none;
  }
  .nav-mobile-display {
    display: none;

    @media (max-width: 786px) {
      display: flex;
      background: #1a1a1a28;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100dvh;

      .nav-content {
        position: relative;
        height: 100%;
        min-width: 80%;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        padding: 2rem;
        padding-top: 72px;
        background-color: #fff;

        li {
          width: 100%;
        }
        li a {
          display: block;
          width: 100%;
          padding-bottom: 1rem;
          font-size: 16px;
        }
        li #active-link, 
        li a:hover {
          width: 100%;
          border-bottom: 1px solid #ba8d4a;
        }
        .social-media-nav {
          position: absolute;
          bottom: 2rem;
          left: 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;


          a {
            border: none !important;
          }
          img {
            width: 22px;
          }
        }
      }
    }
  }

  .cta-btn {
    width: 150px;
    height: 49px;
    border-radius: 5px;
    color: #fff;
    background: #530e45;
    position: relative;
    overflow: hidden;

    p {
      font-family: "PPMori-SemiBold";
      font-size: 18px;
      margin: auto;
    }

    @media (max-width: 786px) {
      display: none;
    }
  }
  .cta-btn:hover {
    transform: scale(0.92);
    transition: all 0.4s ease-in-out;
  }

  .hamburger-container {
    display: none;

    @media (max-width: 786px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      background: #520e44;

      border-radius: 5px;
      z-index: 1111111;
      cursor: pointer;

      img {
        margin: 0;
      }
    }
  }
}
