.executives-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .executive-header {
    background-color: rgba(186, 141, 74, 0.07);
    background-blend-mode: multiply;
    margin-top: 80px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    span {
      color: #10001c;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      border-radius: 32px;
      border: 1px solid rgba(79, 0, 138, 0.1);
      background: transparent;
      padding: 6px 25px;
    }
    h3 {
      margin-top: 1rem;
      color: #10001c;
      text-align: center;
      font-size: 38px;
      font-style: normal;
      font-weight: 800;
      line-height: 78px;
    }
    @media (max-width: 968px) {
      height: 300px;
      margin-top: 74px;
      h3 {
        text-align: center;
        font-size: 6vw;
        line-height: 151.25%;
      }
    }
  }

  .exel {
    // display: flex;
    // flex-direction: column;
    display: flex;
    // width: 100%;
    overflow: hidden;
    margin: 150px 0;

    @media (max-width: 1268px) {
      margin: 50px 0;
    }

    .executives {
      display: grid !important;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) !important;
      width: 100%;
      column-gap: 2rem;
      row-gap: 4rem;
      padding: 0 50px;

      @media (max-width: 9768px) {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        column-gap: 0.5rem;
        row-gap: 3rem;
      }

      .executive {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0px;
        position: relative;
        transition: all 0.2s linear;

        img {
          // width: 100%;
          width: 350px;
          height: 350px;
          object-fit: cover;
          object-position: center center;
          border-radius: 50%;
        }

        .executive-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 0rem;
          width: 100%;
          padding: 1rem;

          p {
            font-size: 18px;
            color: #333333;
            font-weight: 400;
            text-align: center;
            margin-top: 0.8rem;
          }
          h6 {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            color: #050213;
          }
        }

        .info {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          // background: #05021313 ;
          border: 1px solid #05021326;
          border-radius: 24px;
          padding: 0.5rem 2rem;
          margin-top: 0.5rem;

          .dot {
            width: 2px;
            height: 2px;
            background: #050213;
          }
        }

        @media (max-width: 768px) {
          width: 100%;

          img {
            height: 250px;
            width: 250px;
          }

          .executive-name {
            margin-top: 0rem;
            p {
              font-size: 16px;
              margin-top: 0.4rem;
            }
            h6 {
              font-size: 18px;
              margin-top: 0.5rem;
            }
          }
        }
      }
      .executive:hover {
        img {
          transition: all 0.1s linear;
        }
      }
      .members {
        flex-basis: 30%;
      }
    }
  }
}
