.founder-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .founder-header {
    background-color: rgba(186, 141, 74, 0.07);
    margin-top: 80px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    span {
      color: #10001c;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      border-radius: 32px;
      border: 1px solid rgba(79, 0, 138, 0.1);
      // background: #fff;
      padding: 6px 25px;
    }
    h3 {
      margin-top: 1rem;
      color: #10001c;
      text-align: center;
      font-size: 49px;
      font-style: normal;
      font-weight: 700;
      line-height: 78px;
    }
    @media (max-width: 968px) {
      height: 300px;
      margin-top: 74px;
      h3 {
        text-align: center;
        font-size: 6vw;
        line-height: 151.25%;
      }
    }
  }

  .founder-bio {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 150px 0;

    img {
      max-height: 700px;
      width: 100%;
      max-width: 650px;
      object-fit: cover;
      object-position: center center;
      border-radius: 8px;

      @media (max-width: 768px) {
        max-height: 500px;
      }
    }
    .founder-info {
      display: flex;
      flex-direction: column;
      margin-left: 6rem;

      @media (max-width: 968px) {
        margin-left: 0;
        margin-top: 2rem;
      }
      span {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        color: #530e45;
        margin-bottom: 2rem;
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
      p {
        max-width: 750px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        color: #555;

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
    }
    @media (max-width: 968px) {
      flex-direction: column;
      padding: 0 1rem;
    }
  }
}
