.about-container {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin: 120px 0;
  min-height: 100%;
  //   justify-content: center;

  @media (max-width: 1468px) {
    padding: 0 50px;
  }
  @media (max-width: 986px) {
    padding: 0 1rem;
    margin: 80px 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 18px;
      font-weight: 500;
      color: #ba8d4a;
      border-radius: 42px;
      border: 1px solid rgba(148, 64, 115, 0.3);
      padding: 0.5rem 2rem;
    }
    h3 {
      margin-top: 2rem;
      font-size: 32px;
      text-align: center;
      color: #1a1a1a;
      max-width: 900px;
      line-height: 170%;
    }

    @media (max-width: 986px) {
      align-items: center;
      text-align: center;

      span {
        font-size: 16px;
        padding: 0.3rem 2rem;
      }
      h3 {
        text-align: center;
        font-size: 24px;
        margin-top: 1rem;
      }
    }
  }

  .about {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;

    @media (max-width: 1468px) {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      min-height: 500px;
      padding: 1.5rem;
      border-radius: 8px;
      background: rgba(186, 141, 74, 0.07) !important;
      // border: 0.5px solid #530e4546;

      span {
        // background: #d63434;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 4rem;
      }
      h4 {
        font-size: 20px;
      }
      p {
        margin-top: 2rem;
        font-size: 16px;
        line-height: 170%;
        color: #4e4e4e;
      }
      a {
        margin-top: 2.5rem;
        font-size: 18px;
        color: #ba8d4a;
      }
    }

    #first {
      background: rgba(214, 52, 52, 0.05);
      span {
        background: rgba(214, 52, 52, 0.2);
        color: #d63434;
      }
    }
    #second {
      background: rgba(29, 95, 209, 0.05);
      span {
        background: rgba(29, 95, 209, 0.2);
        color: #1d60d1;
      }
    }
    #third {
      background: rgba(4, 77, 84, 0.05);
      span {
        background: rgba(4, 77, 84, 0.122);
        color: #044e54;
      }
    }
    #forth {
      background: rgba(236, 88, 255, 0.05);
      span {
        background: rgba(228, 153, 238, 0.2);
        color: #9800ac;
      }
    }

    @media (max-width: 986px) {
      width: 100%;
      row-gap: 2rem;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      div {
        height: 420px;
        min-height: auto;
        padding: 2rem 1rem;

        span {
          margin-bottom: 2.5rem;
        }
        h4 {
          font-size: 20px;
        }
        p {
          margin-top: 1rem;
        }
      }
    }
  }
}
