.founders-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 120px 50px;
  background: #140110;

  @media (max-width: 1468px) {
    padding: 120px 50px;
  }
  @media (max-width: 986px) {
    padding: 120px 1rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 20px;
      font-weight: 500;
      color: #ba8d4a;
    }
    h3 {
      margin-top: 2rem;
      font-size: 32px;
      text-align: center;
      color: #fff;
      max-width: 900px;
      line-height: 170%;
    }

    @media (max-width: 986px) {
      align-items: center;
      text-align: center;

      span {
        font-size: 18px;
      }
      h3 {
        text-align: center;
        font-size: 26px;
        margin-top: 1rem;
      }
    }
  }

  .founders {
    margin-top: 6rem;
    display: flex;
    column-gap: 3rem;
    overflow-x: scroll;
    padding-bottom: 6rem;
    transition: all 0.2s linear;
    @media (max-width: 968px) {
      margin-top: 4rem;
      padding-bottom: 4rem;
    }

    .president {
      width: 100%;
      min-width: 31.5%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      border-radius: 8px;
      border: 1px solid #ffffff45;
      padding: 2rem;
      padding-bottom: 3rem;
      transition: all 0.2s linear;

      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        p {
          font-size: 20px;
          color: #f0f0f0;
          font-weight: 400;
          text-align: center;
        }
        h6 {
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 0.2px;
          color: #fff;
          margin-top: 1rem;
        }
      }

      @media (max-width: 768px) {
        min-width: 100%;
        padding: 1rem;
        padding-bottom: 2rem;
        img {
          height: 400px;
        }

        div {
          margin-top: 3rem;
          p {
            font-size: 18px;
          }
          h6 {
            font-size: 22px;
          }
        }
      }
    }
    .president:hover {
      img {
        border-radius: 50%;
        // border-radius: 600px;
        transition: all 0.1s linear;
      }
    }
    .members {
      flex-basis: 30%;
    }
  }

  .scroll-btn {
    margin-top: 3rem;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    gap: 2rem;

    button {
      border: none;
      background: none;

      img {
        width: 16px;
      }
    }
    button:hover {
      transform: scale(0.92);
      transition: all 0.4s ease-in-out;
    }
  }
  /* Style the scrollbar */
  .founders::-webkit-scrollbar {
    height: 2px;
    width: 2px; /* Width of the scrollbar */
  }

  /* Track */
  .founders::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }

  /* Handle */
  .founders::-webkit-scrollbar-thumb {
    background: #ba8d4a; /* Color of the scrollbar handle */
  }

  /* Handle on hover */
  .founders::-webkit-scrollbar-thumb:hover {
    background: #530e45; /* Color of the scrollbar handle on hover */
  }
}
